<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <p><%= link_to "ツイート", @user %> | 
    <%= link_to "フォロー", followings_user_path(@user) %> | 
    <%= link_to "フォロワー", followers_user_path(@user) %>
    </p>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <h3><%= @title %> (<%= @users.count %>)</h3>
    <ol class="users">
      <% @users.each do |user| %>
        <li>
          <%= link_to gravatar_for(user, size: 50), user %>
          <%= link_to user.name, user %>
        </li>
      <% end %>
    </ol>
    <%= paginate @users %>
  </div>
</div>